@model PuntoDeVenta.Models.Category

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>¿Seguro que quieres eliminar este registro?</h3>
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index");
        </div>
    }
</div>
